src/*.exe
src/Bells
src/Bellsd
src/test_Bells
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.Bells

# Compilation and Qt preprocessor part
*.qm
Makefile
Bells-qt
Bells-Qt.app

# Unit-tests
Makefile.test
Bells-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
